.logo{
    color: #a30000;
    text-transform: uppercase;
    font-size: 250%;
    animation-name: logo_animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

@keyframes logo_animation{
    0% {
        color: #a30000;
    }
    50% {
        color: #ce0000;
    }
    100% {
        color: #a30000;
    }
    

}